<div class="container">
<label for="exampleFormControlInput1" class="form-label">Filtrar Turma</label>
  <input class="form-control" list="datalistOptions" id="exampleDataList" (keyup)="filterContentChange()"
    (change)="filterContentChange()" formControlName="content" id="content" autocomplete="off"
    placeholder="Digite o conteúdo para procurar...">
  <datalist id="datalistOptions">
    <option value="Primeira Série A-1">
    <option value="Primeira Série A-2">
    <option value="Primeira Série B-1">
    <option value="Primeira Série B-2">
    <option value="Segunda Séria A-1">
    <option value="Segunda Séria A-2">
    <option value="Segunda Séria B-1">
    <option value="Segunda Séria B-2">
  </datalist>

  <br/>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Idade</th>
        <th scope="col">Traços</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>5 anos</td>
        <td>83% <span class="badge bg-danger">Cinestésico</span></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>5 anos</td>
        <td>55% <span class="badge bg-warning text-dark">Auditivo</span></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td>6 anos</td>
        <td>69% <span class="badge bg-success">Visual</span></td>
      </tr>
    </tbody>
  </table>
</div>
