<div class="container">
  <label for="exampleFormControlInput1" class="form-label">Turma</label>
  <select class="form-select" aria-label="Default select example">
    <option selected>Selecione a turma</option>
    <option value="1">Turma 1</option>
    <option value="2">Turma 2</option>
    <option value="3">Turma 3</option>
  </select>
<br/>
<label for="exampleFormControlInput1" class="form-label">Disciplina</label>
<select class="form-select" aria-label="Default select example">
  <option selected>Selecione a disciplina</option>
  <option value="1">Disciplina 1</option>
  <option value="2">Disciplina 2</option>
  <option value="3">Disciplina 3</option>
  <option value="4">Disciplina 4</option>
</select>
<br />
<label for="exampleFormControlInput1" class="form-label">Conteúdo</label>
<select class="form-select" aria-label="Default select example">
  <option selected>Selecione o conteúdo</option>
  <option value="1">Conteúdo 1</option>
  <option value="2">Conteúdo 2</option>
  <option value="3">Conteúdo 3</option>
  <option value="4">Conteúdo 4</option>
</select>

<br/>
<div class="porcentage">
  <div style="background-color: mistyrose; width: 67%;">
  <span>Item 1 - 67% </span>
</div>
<div style="background-color: lightcyan; width: 33%;">
  <span>Item 2 - 33%</span>
</div>
</div>

<br/>
<br />
<div class="cont-cards">
  <div class="card" style="width: 18rem;">
    <img src="https://megaleitores.com.br/images/livros/pedro-maia-soares/companhia-das-letrinhas/abc-do-zoo-animais-do-brasil/73611/9788585466251-pedro-maia-soares-companhia-das-letrinhas-abc-do-zoo-animais-do-brasil-5e949c260c432-540x728.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Utilizar imagens de animais para associar as letras do alfabeto.
      </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img
      src="http://cdn5.colorir.com/desenhos/color/201903/cubos-educacionais-abc-colegio-1510461.jpg"
      class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Utilizar objetos para estimular a aprendizagem do alfabeto.
      </p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img
      src="https://i.ytimg.com/vi/8drAYiiKlW8/maxresdefault.jpg"
      class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Utilizar músicas para desenvolver letras do alfabeto.
      </p>
    </div>
  </div>
  </div>
</div>
